<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
# Impotando bibliotecas
import pandas as pd
import numpy as np
import random
import datetime
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
# Função para gerar datas fictícias
def workdays(d, end, excluded=(6, 7)):
    days = []
    while d.date() <= end.date():
        if d.isoweekday() not in excluded:
            days.append(d)
        d += datetime.timedelta(days=1)
    return days

In [3]:
# Criando base
base = pd.DataFrame()

# Gerando datas aleatórias
random_dates = []
for i in range(1000000):
    rnd_month = np.random.randint(1, 4)
    if rnd_month == 2:
        rnd_day = np.random.randint(1, 30)
    else:
        rnd_day = np.random.randint(1, 32)
    random_dates.append(datetime.datetime(2020, rnd_month, rnd_day))
    
# Adicionando na base
base['data_movimento'] = random_dates
base['flag_working_day'] = base['data_movimento'].apply(lambda x: x.weekday() in (5, 6))
base = base[~base['flag_working_day']]
base.drop('flag_working_day', axis=1, inplace=True)
base.head()

  data_movimento
1     2020-01-09
3     2020-01-24
5     2020-03-10
6     2020-03-24
7     2020-03-26

In [4]:
# Adicionando colunas de mês, ano e safra
base['mes'] = base['data_movimento'].apply(lambda x: x.month)
base['ano'] = base['data_movimento'].apply(lambda x: x.year)
base['mes_str'] = base['mes'].apply(lambda x: '0' + str(x) if len(str(x)) == 1 else str(x))
base['safra'] = base['ano'].astype(str) + base['mes_str']
base.drop(['mes_str'], axis=1, inplace=True)
base.head()

  data_movimento  mes   ano   safra
1     2020-01-09    1  2020  202001
3     2020-01-24    1  2020  202001
5     2020-03-10    3  2020  202003
6     2020-03-24    3  2020  202003
7     2020-03-26    3  2020  202003

In [5]:
# Coluna agência
np.random.seed(42)
base['agencia'] = np.random.randint(1, 9999, len(base))
base.head()

  data_movimento  mes   ano   safra  agencia
1     2020-01-09    1  2020  202001     7271
3     2020-01-24    1  2020  202001      861
5     2020-03-10    3  2020  202003     5391
6     2020-03-24    3  2020  202003     5192
7     2020-03-26    3  2020  202003     5735

In [6]:
# Coluna de tipo de transação
trans = ['CONSULTA', 'PAGAMENTO', 'SAQUE', 'SAQUE INSS', 'PAGAMENTO QUALQUER', 'DEPÓSITO', 'DEPÓSITO QUALQUER']
trans_array = np.random.choice(trans, len(base))
base['tipo_trans'] = trans_array

# Migrável?
base['migravel'] = np.random.choice(['S', 'N'], len(base))

# Quantidades
base['qtd_transacoes'] = np.random.randint(1, 10, len(base))
base.head()

,data_movimento,mes,ano,safra,agencia,tipo_trans,migravel,qtd_transacoes
1,2020-01-09,1,2020,202001,7271,PAGAMENTO QUALQUER,N,3
3,2020-01-24,1,2020,202001,861,PAGAMENTO QUALQUER,S,7
5,2020-03-10,3,2020,202003,5391,SAQUE,N,6
6,2020-03-24,3,2020,202003,5192,SAQUE,S,4
7,2020-03-26,3,2020,202003,5735,CONSULTA,S,9

In [7]:
# Status da agência (90% / 10%)
qtd_ativos = int(len(base) * 0.98)
qtd_inativos = len(base) - qtd_ativos

# Criando array de ativos e inativos
lista_status = ['ATIVO' for i in range(qtd_ativos)] + ['INATIVO' for i in range(qtd_inativos)]
random.shuffle(lista_status)
base['status_atual_agencia'] = lista_status
base.head()

,data_movimento,mes,ano,safra,agencia,tipo_trans,migravel,qtd_transacoes,status_atual_agencia
1,2020-01-09,1,2020,202001,7271,PAGAMENTO QUALQUER,N,3,ATIVO
3,2020-01-24,1,2020,202001,861,PAGAMENTO QUALQUER,S,7,ATIVO
5,2020-03-10,3,2020,202003,5391,SAQUE,N,6,ATIVO
6,2020-03-24,3,2020,202003,5192,SAQUE,S,4,ATIVO
7,2020-03-26,3,2020,202003,5735,CONSULTA,S,9,ATIVO

In [8]:
# Sop, GSO, etc
base['sop_nome'] = np.random.choice(['SOP 1', 'SOP 2', 'SOP 3', 'SOP 4', 'SOP 5'], len(base))
base['sop_sigla'] = np.random.choice(['SA', 'SB', 'SC', 'SD', 'SE'], len(base))
base['gso_nome'] = np.random.choice(['GSOA 1', 'GSOA 2', 'GSOA 3', 'GSOA 4', 'GSOA 5', 'GSOA 6', 'GSOA 7'], len(base))
base['gso_sigla'] = np.random.choice(['GA', 'GB', 'GC', 'GD', 'GE', 'GF', 'GG', 'GH'], len(base))
base['regcom'] = np.random.randint(50, 60, len(base))
base.head()

,data_movimento,mes,ano,safra,agencia,tipo_trans,migravel,qtd_transacoes,status_atual_agencia,sop_nome,sop_sigla,gso_nome,gso_sigla,regcom
1,2020-01-09,1,2020,202001,7271,PAGAMENTO QUALQUER,N,3,ATIVO,SOP 1,SC,GSOA 4,GD,58
3,2020-01-24,1,2020,202001,861,PAGAMENTO QUALQUER,S,7,ATIVO,SOP 2,SA,GSOA 3,GD,51
5,2020-03-10,3,2020,202003,5391,SAQUE,N,6,ATIVO,SOP 5,SB,GSOA 2,GD,54
6,2020-03-24,3,2020,202003,5192,SAQUE,S,4,ATIVO,SOP 5,SD,GSOA 5,GE,59
7,2020-03-26,3,2020,202003,5735,CONSULTA,S,9,ATIVO,SOP 4,SB,GSOA 2,GD,52

In [9]:
# Porte
qtd_pequena = int(len(base) * 0.80)
qtd_grande = len(base) - qtd_pequena

# Criando array de portes
lista_portes = ['PEQUENA' for i in range(qtd_pequena)] + ['GRANDE' for i in range(qtd_grande)]
random.shuffle(lista_portes)
base['porte_oper_franq'] = lista_portes
base.head()

,data_movimento,mes,ano,safra,agencia,tipo_trans,migravel,qtd_transacoes,status_atual_agencia,sop_nome,sop_sigla,gso_nome,gso_sigla,regcom,porte_oper_franq
1,2020-01-09,1,2020,202001,7271,PAGAMENTO QUALQUER,N,3,ATIVO,SOP 1,SC,GSOA 4,GD,58,PEQUENA
3,2020-01-24,1,2020,202001,861,PAGAMENTO QUALQUER,S,7,ATIVO,SOP 2,SA,GSOA 3,GD,51,PEQUENA
5,2020-03-10,3,2020,202003,5391,SAQUE,N,6,ATIVO,SOP 5,SB,GSOA 2,GD,54,GRANDE
6,2020-03-24,3,2020,202003,5192,SAQUE,S,4,ATIVO,SOP 5,SD,GSOA 5,GE,59,PEQUENA
7,2020-03-26,3,2020,202003,5735,CONSULTA,S,9,ATIVO,SOP 4,SB,GSOA 2,GD,52,PEQUENA

In [10]:
# Classificacao
qtd_hub = int(len(base) * 0.80)
qtd_satelite = len(base) - qtd_hub

# Criando array de portes
lista_classificacao = ['Hub' for i in range(qtd_hub)] + ['Satélite' for i in range(qtd_satelite)]
random.shuffle(lista_classificacao)
base['classificacao'] = lista_classificacao
base.head()

,data_movimento,mes,ano,safra,agencia,tipo_trans,migravel,qtd_transacoes,status_atual_agencia,sop_nome,sop_sigla,gso_nome,gso_sigla,regcom,porte_oper_franq,classificacao
1,2020-01-09,1,2020,202001,7271,PAGAMENTO QUALQUER,N,3,ATIVO,SOP 1,SC,GSOA 4,GD,58,PEQUENA,Hub
3,2020-01-24,1,2020,202001,861,PAGAMENTO QUALQUER,S,7,ATIVO,SOP 2,SA,GSOA 3,GD,51,PEQUENA,Satélite
5,2020-03-10,3,2020,202003,5391,SAQUE,N,6,ATIVO,SOP 5,SB,GSOA 2,GD,54,GRANDE,Satélite
6,2020-03-24,3,2020,202003,5192,SAQUE,S,4,ATIVO,SOP 5,SD,GSOA 5,GE,59,PEQUENA,Hub
7,2020-03-26,3,2020,202003,5735,CONSULTA,S,9,ATIVO,SOP 4,SB,GSOA 2,GD,52,PEQUENA,Hub

In [11]:
# Testando dias úteis de janeiro
jan_working_days = workdays(datetime.datetime(2020, 1, 1), datetime.datetime(2020, 1, 31))
fev_working_days = workdays(datetime.datetime(2020, 2, 1), datetime.datetime(2020, 2, 28))
mar_working_days = workdays(datetime.datetime(2020, 3, 1), datetime.datetime(2020, 3, 31))

In [12]:
# Verificando dia útil
base_jan = base.query('mes == 1')
base_jan['du_mes'] = base_jan['data_movimento'].apply(lambda x: jan_working_days.index(x) + 1)
base_fev = base.query('mes == 2')
base_fev['du_mes'] = base_fev['data_movimento'].apply(lambda x: fev_working_days.index(x) + 1)
base_mar = base.query('mes == 3')
base_mar['du_mes'] = base_mar['data_movimento'].apply(lambda x: mar_working_days.index(x) + 1)

# Unindo datasets
base_final = base_jan.append(base_fev).append(base_mar)
base_final.head()

,data_movimento,mes,ano,safra,agencia,tipo_trans,migravel,qtd_transacoes,status_atual_agencia,sop_nome,sop_sigla,gso_nome,gso_sigla,regcom,porte_oper_franq,classificacao,du_mes
1,2020-01-09,1,2020,202001,7271,PAGAMENTO QUALQUER,N,3,ATIVO,SOP 1,SC,GSOA 4,GD,58,PEQUENA,Hub,7
3,2020-01-24,1,2020,202001,861,PAGAMENTO QUALQUER,S,7,ATIVO,SOP 2,SA,GSOA 3,GD,51,PEQUENA,Satélite,18
10,2020-01-01,1,2020,202001,4427,SAQUE,N,4,ATIVO,SOP 2,SB,GSOA 3,GE,56,GRANDE,Satélite,1
16,2020-01-14,1,2020,202001,770,DEPÓSITO QUALQUER,S,7,ATIVO,SOP 1,SA,GSOA 1,GB,54,PEQUENA,Hub,10
19,2020-01-02,1,2020,202001,2434,DEPÓSITO,S,4,ATIVO,SOP 2,SD,GSOA 7,GE,56,PEQUENA,Satélite,2

In [13]:
# Flags de meses
base_final['qtd_jan'] = base_final['mes'].apply(lambda x: 1 if x == 1 else 0)
base_final['qtd_fev'] = base_final['mes'].apply(lambda x: 1 if x == 2 else 0)
base_final.head()

,data_movimento,mes,ano,safra,agencia,tipo_trans,migravel,qtd_transacoes,status_atual_agencia,sop_nome,sop_sigla,gso_nome,gso_sigla,regcom,porte_oper_franq,classificacao,du_mes,qtd_jan,qtd_fev
1,2020-01-09,1,2020,202001,7271,PAGAMENTO QUALQUER,N,3,ATIVO,SOP 1,SC,GSOA 4,GD,58,PEQUENA,Hub,7,1,0
3,2020-01-24,1,2020,202001,861,PAGAMENTO QUALQUER,S,7,ATIVO,SOP 2,SA,GSOA 3,GD,51,PEQUENA,Satélite,18,1,0
10,2020-01-01,1,2020,202001,4427,SAQUE,N,4,ATIVO,SOP 2,SB,GSOA 3,GE,56,GRANDE,Satélite,1,1,0
16,2020-01-14,1,2020,202001,770,DEPÓSITO QUALQUER,S,7,ATIVO,SOP 1,SA,GSOA 1,GB,54,PEQUENA,Hub,10,1,0
19,2020-01-02,1,2020,202001,2434,DEPÓSITO,S,4,ATIVO,SOP 2,SD,GSOA 7,GE,56,PEQUENA,Satélite,2,1,0

In [14]:
len(base_final)

713164

In [16]:
base_final.to_csv('transacoes_npc.csv', index=False)